// Root styling, for setting variables in :root.
// https://developer.mozilla.org/en-US/docs/Web/CSS/:root
:root {
    // Neutral colors
    --neutral-0: #fff;
    --neutral-100: #fcfdff;
    --neutral-200: #dfe0e2;
    --neutral-300: #c2c3c5;
    --neutral-400: #a5a6a8;
    --neutral-500: #88898b;
    --neutral-600: #6b6c6e;
    --neutral-700: #4e4f51;
    --neutral-800: #313234;
    --neutral-900: #141617;

    // Primary colors
    --primary-100: #cde0fa;
    --primary-200: #a1c1ec;
    --primary-300: #7ba8e5;
    --primary-400: #558fdd;
    --primary-500: #2f76d6;
    --primary-600: #2961ac;
    --primary-700: #234c82;
    --primary-800: #1d3758;
    --primary-900: #17222e;
}
