.t {
    &--bold {
        font-weight: 600;
    }

    &--italic {
        font-style: italic;
    }

    &--center {
        text-align: center;
    }

    &--gray {
        color: var(--neutral-500);
    }
}
